@font-face {
    font-family: 'poppins';
    src: url(./poppins/Poppins-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

    @font-face {
    font-family: 'bebas_neus';
    src: url(./bebas_neus/Bebas-Regular.otf);
    font-weight: normal;
    font-style: normal;
}


    @font-face {
    font-family: 'quantify';
    src: url(./quantify/Quantify.ttf);
    font-weight: normal;
    font-style: normal;
}

@keyframes fade-in {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}
.animate-fade-in {
  animation: fade-in 1s forwards;
}

@keyframes scaleIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  .animate-scaleIn {
    animation: scaleIn 0.25s ease-out;
  }

@tailwind base;
@tailwind components;
@tailwind utilities;



.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hero {
    background: url('public/herobg.png');
}


.scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }


.bgimg {
    background: url('IMG_1548.PNG');
    height: 100%;
    width: 20%;
    object-fit: fill;
}