/* header {
    display: flex;
width: 1440px;
height: 70px;
padding: 0 24px 0 75px;
justify-content: space-between;
align-items: center;
border-bottom: 0.2px solid #DB1027;
}


body {margin: 0;}

.img1 {
height: 37px;
flex-shrink: 0;
aspect-ratio: 35/37;
background: url('img124.png') lightgray -3.926px -7.688px / 125.171% 176.623% no-repeat;
}

.img2 {
height: 34.125px;
flex-shrink: 0;
aspect-ratio: 91.00/34.13;
background: url('image 126.png') lightgray -12.876px -116.063px / 126.91% 503.704% no-repeat;
}

header {background: #0C0C0C;
display: flex;
width: 100%;}

ul {
display: flex;
justify-content: center;
align-items: center;
gap: 24px;
flex-shrink: 0;
}

a {
    color: #FAFAFA;
font-family: "Helvetica Neue";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: none;
}

li {
    list-style-type: none;
}

.icons {
display: flex;
} */